<a href="https://colab.research.google.com/github/Loki462/rvr_python/blob/master/Variance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variance:::
Steps to find the variance 
      1. 
      2. 
      3. 
      4. 
      5. 

*   Read the CSV file
*   Calculate the mean
*   Calculate the difference from mean fo reach element
*   Calculate the Squared distance
*   Take the average of the sqaured distance

In [14]:
import pandas as pd
import numpy as np

In [15]:
# reading the csv file
data = pd.read_csv("Spread of Data.csv")

In [21]:
# Printing first five rows in the data set 
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [22]:
# Finding the mena for the given data set
mean_data = data["Overall Marks"].mean()
mean_data

164.24

In [23]:
# Finding the diference between the marks and the mean[x-x']
difference = data["Overall Marks"] - mean_data
difference

0     9535.76
1      -81.24
2      -86.24
3      -78.24
4      -73.24
       ...
95     -87.24
96    -109.24
97    -157.24
98     -91.24
99     -82.24
Name: Overall Marks, Length: 100, dtype: float64

In [24]:
# Finding the square of the difference [x-x']^2
squared_diff = difference ** 2
squared_diff

0     9.093072e+07
1     6.599938e+03
2     7.437338e+03
3     6.121498e+03
4     5.364098e+03
          ...
95    7.610818e+03
96    1.193338e+04
97    2.472442e+04
98    8.324738e+03
99    6.763418e+03
Name: Overall Marks, Length: 100, dtype: float64

In [20]:
# Finding the variance for the given data set [x-x']^2/n
variance = squared_diff.mean()
variance

919170.8423999996

### NOTE:
. Variance doesn\'t affected by the constant bcoz its a squared distance